<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a blog page with a list of posts.">
    <title>ZhangLiang.wan Blog</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <link rel="stylesheet" href="http://picturebag.qiniudn.com/blog.css">
</head>

<body>
    <div id="layout" class="pure-g">
        <div class="sidebar pure-u-1 pure-u-md-1-4">
            <div class="header">
                <!--
                <h1 class="brand-title">ZhangLiang</h1>
                -->
                <h1 class="brand-title"><a href="{% url 'home' %}">WAN</a></h1>
                <h2 class="brand-tagline">Stay Hungry</h2>
                <h2 class="brand-tagline">Stay Foolish</h2>
                <nav class="nav">
                    <ul class="nav-list">
                         <li class="nav-item">
                        <a class="button-success pure-button" href="/">主页</a>
                    </li>
                    <li class="nav-item">
                        <a class="button-success pure-button" href="{% url 'archives' %}">归档</a>
                    </li>
                        <li class="nav-item">
                            <a class="pure-button" href="https://github.com/Jacobwan/">GitHub</a>
                        </li>
                        <li class="nav-item">
                            <a class="pure-button" href="https://weibo.com/2327515463">微博</a>
                        </li>
                        <li class="nav-item">
                        <a class="button-success pure-button" href="/">专题</a>
                    </li>
                    <li class="nav-item">
                        <a class="button-success pure-button" href="{% url 'about_me' %}">About Me</a>
                    </li>
                    <li>
                    <!--在 form 标签中添加 .pure-form 类，可生成单行表单（inline）-->
                    <!--必需的 action 属性规定当提交表单时，向何处发送表单数据-->
                    <form class="pure-form" action="/search/" method="get">
                        <input class="pure-input-1" type="text" name="s" placeholder="search">
                    </form>
                    </li>
                    <!--RSS-->
                    <li class="nav-item">
                        <a class="button-success pure-button" href="/">RSS</a>  
                    </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="content pure-u-1 pure-u-md-3-4">
            <div>
                {% block content %} {% endblock %}
                <div class="footer">
                    <div class="pure-menu pure-menu-horizontal pure-menu-open">
                        <ul>
                            <li><a href="http://www.cnblogs.com/lao-wan/">博客园</a></li>
                            <li><a href="https://www.zhihu.com/people/wzl3214">知乎</a></li>
                            <li><a href="https://github.com/Jacobwan/">GitHub</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
